{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}
#!/bin/sh

sudo apt -y install software-properties-common
sudo add-apt-repository ppa:neovim-ppa/unstable -y
sudo apt update
sudo apt -y install \
  build-essential \
  direnv \
  editorconfig \
  fd-find \
  fzf \
  lsd \
  neovim \
  ripgrep \
  shellcheck \
  thefuck \
  tmux \
  zsh

# install rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --profile minimal -y

cargo install zoxide


{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

brew bundle

{{ else }}
#!/bin/sh

echo "this os and release id not supported by installer script!"
echo "{{ .chezmoi.os }} {{ .chezmoi.osRelease.id }}"

{{ end }}
